@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --primary-color: #F0831F   ;
    --secondary-color: #5B85AA ;
    --accent1-color: #414770;
    --accent2-color: #372248;
  
    --heading-font: "Libre Franklin", "Georgia", "Monaco";
    --paragraph-font: "Roboto","Noto Sans","Inter";
  
    --headline-color-on-white: #414770;
    --headline-color-on-color: #C4C4C4; /* headlines on a colored background */ 
    --paragraph-color-on-white: #414770; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #c4c4c4; /* paragraph text on a colored background */ 
    --paragraph-background-color: #414770  ;
    --nav-link-color: #372248;
    --nav-background-color: #F0831F;
    --nav-hover-link-color: #c4c4c4;
    --nav-hover-background-color: #414770;
  }
h1, h2, h3, h4, h5, h6, nav, .join, .book {
    font-family: var(--heading-font);
}
p {
    font-family: var(--paragraph-font);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: var(--accent2-color);
}
body {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: var(--primary-color);
}
nav a:hover {
    background-color: var(--accent1-color);
    color: var(--headline-color-on-color);
}
.msg {
    background-color: var(--accent1-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-white);
    padding: 25px 50px;
    margin-top: 200px;
    display:flex;
    justify-content:space-around;
    align-items: center;

}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}
.home-title {
    font-size: 2em;
    color: var(--headline-color-on-color);
    margin-top: 10px;
}
h4 {
    font-size: 2em;
    color: var(--headline-color-on-color);
}
.book, .join {
    font-size: 18px;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: var(--nav-background-color);
}
.book:hover, .join:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.msg h2{
    color: var(--headline-color-on-color);
}
.msg p {
    font-size: 0.8em;
    color: var(--headline-color-on-color);
    padding-bottom: 15px;
}
footer a {
    color: var(--nav-link-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--nav-hover-link-color);
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width:80px;
}
.hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid var(--accent2-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

main section img {
    box-sizing: border-box;
}

nav { 
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
}

.home-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img, .mountains {
    width:100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
}

.card-img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.river {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin:25px;
    height: 100%;

}

.riverimg {
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    border: 10px solid var(--accent2-color);
    grid-column: 2/6;
    grid-row: 1/6;

}
.rivertext {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1/3;
    grid-row: 2/5;
    padding: 10px;
}
.rivername {
    text-align: center;
}

#formcontainer {
    margin: 50px auto;
    width: 300px;
}
label {
    color: var(--headline-color-on-color);
}
#formcontainer h1 {
    text-align: center;
    color: var(--paragraph-color-on-color);
}
form {
    display: inline-block;
    padding: 1em;
    border: 1px solid var(--accent2-color);
    border-radius: 1em;
    background-color: var(--accent2-color);
}
input,textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid var(--accent1-color);
}
input:focus,textarea:focus {
    outline-style: solid;
    outline-color: var(--nav-background-color);
}
.button {
    padding-left: 90px;
}
button {
    margin-left: 0.5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    display: none;
}
.moveDown {
    margin-top: 3em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    
}