@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #F0831F   ;
    --secondary-color: #5B85AA ;
    --accent1-color: #414770;
    --accent2-color: #372248;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Libre Franklin";
    --paragraph-font: "Roboto","Noto Sans","Inter";
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #414770;  /* headlines on a white background */ 
    --headline-color-on-color: #C4C4C4; /* headlines on a colored background */ 
    --paragraph-color-on-white: #414770; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #c4c4c4; /* paragraph text on a colored background */ 
    --paragraph-background-color: #414770  ;
    --nav-link-color: #372248;
    --nav-background-color: #F0831F;
    --nav-hover-link-color: #c4c4c4;
    --nav-hover-background-color: #414770;
  }
h1, h2, h3, h4, h5, h6, nav, .join, .book {
    font-family: var(--heading-font);
}
p {
    font-family: var(--paragraph-font);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav,
a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: var(--accent2-color);
}
body {
    background-color: var(--secondary-color);
}
header {
    background-color: var(--primary-color);
}
nav a:hover {
    background-color: var(--accent1-color);
    color: var(--headline-color-on-color);
}
.msg {
    background-color: var(--accent1-color);
}
footer {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-white);
}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
}
.home-title,
h4 {
    font-size: 2em;
    color: var(--headline-color-on-color);
}
.book, .join {
    font-size: 18px;
    color: var(--nav-link-color);
    text-decoration: none;
    background-color: var(--nav-background-color);
}
.book:hover, .join:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.msg h2{
    color: var(--headline-color-on-color);
}
.msg p {
    font-size: 0.8em;
    color: var(--headline-color-on-color);
}
footer a {
    color: var(--nav-link-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--nav-hover-link-color);
}
.icon,
.logo {
    width:80px;
}
.hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}