@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Spline+Sans:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

:root {
  --primary-color: #F5E0B7   ;
  --secondary-color: #FF5630 ;
  --accent1-color: #D6BA73;
  --accent2-color: #8BBF9F;

  --heading-font: "Afacad", "Funnel Sans", "Outfit";
  --paragraph-font: "Source Sans 3", "Spline Sans", "Yanone Kaffeesatz";

  --headline-color-on-white: black;  
  --headline-color-on-color: #ffffff; 
  --paragraph-color-on-white: black;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #F5E0B7;
  --nav-link-color: #396E94;
  --nav-background-color: #F5E0B7;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #FF5630;
  
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    font-size: 2.5em;
    padding: 0 1em;
}

p, ul {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
    font-size: 1.9em;
  }
body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background: var(--accent1-color);
}
#content {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: var(--paragraph-background-color);
    padding: 30px;
    width: 100%;
    max-width: 1600px;
    justify-content: space-between;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 5%;
}

#header {
    padding: 10px;
    box-sizing: border-box;
    background: var(--accent2-color);
    width: 100%;
    
}
nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
nav a {
    font-family: var(--heading-font);
    text-align: center;
    text-decoration: none;
    color: var(--nav-link-color);
    width: 100%;
    font-size: 3em;
}
nav a:hover {
    background-color: var(--accent1-color);
    color: var(--headline-color-on-color);
}

#footer {
    background-color: var(--accent2-color);
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 20px;
    flex-wrap: wrap;
    height: 100px;
}
#logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%
}
.textblock {
    flex: 1;
    max-width: 100%;
}
.contentimage {
    object-fit:contain;
    flex: 1;
    max-width: 600px;
    flex-wrap: wrap;
    border-radius: 1em;
    min-width: 700px;
    width: 100%;

}
#soclinks {
    display: flex;
    justify-content: center;
    gap: 10px;

}
.siteinfo {
    flex-grow: 1;
    gap: 10px;
    width: 30%;
}
.siteinfo, #soclinks {
    flex-grow: 1;
    text-align: center;
    width: 30%;
}
/* TIMELINE CSS */
.timeline {
    position: relative;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}
.container {
    padding: 10px 50px;
    position: relative;
    width: 100%;
    left: 0;
    margin-left: -12%;

}
.timeline-box {
    padding: 20px 30px;
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 6px;
    margin-left: auto;
    width: 600px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--secondary-color);
    top: 0;
    right: 0;
    margin-right: -3px;
    z-index: 1;
}
.box-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom:  15px solid transparent;
    border-left: 50px solid var(--secondary-color);
    right: -49px;
}
.text-container {
    max-width: 45%;
    min-width: 40%;
}
#imagewrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#footerlink {
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--nav-link-color);
    font-weight: bold;
    text-decoration: none;
}
#footerlink:hover {
    color: var(--nav-hover-link-color);
}